body{
    background-color: cadetblue;
}
.space{
    padding-top: 20px;
    
}
.qname{
    background-color:darkgray;
}

.form{
    background-color:  darkgray;
    height: 30rem;
}
.mat-mdc-card {
    position: relative;
    width: 20rem;
    margin-left: 27rem;
}
.mat-mdc-card-content {
    display: block;
    padding: 0 59px !important;
}
input[type=text][_ngcontent-ng-c2257826864] {
    width: 105%;
    margin: 6px 0;
    box-sizing: border-box;
}
button{
    margin-left: 52px;
}
.align{
    margin-left: 75px;
}
.padd{
    margin-top: 20px;
}