.align{
    margin-left: 23rem;
    font-size: xx-large;
    font-style: italic;
    margin-top: 2rem;
}
.cursor{
    cursor: pointer;
}
.mat-mdc-card {
    position: relative;
    background-color: antiquewhite;
    width: 9rem;
    height: 6rem;
    margin-right: 1rem;
    margin-top: 3rem;
    cursor: pointer;
}
.mat-mdc-card-content {
    display: block;
    padding: 39px 51px;
}

.mat-mdc-card:hover{
    transform: scale(1.09);
    box-shadow: 0 10px 20px rgba(72, 68, 68, 0.12), 0 4px 8px rgba(82, 77, 77, 0.06);
}
body{
    background-color: cadetblue;
    height: 35rem;
}
.wrap{
    flex-flow: row wrap;
}